<div class="product-card" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
  <a [routerLink]="['/product', product.id]" class="product-image-link">
    <div class="product-image-wrapper">
      <img [src]="displayImageUrl" [alt]="product.name">
      <!-- This indicator will let users know more images are available on hover -->
      <div *ngIf="product.additionalImages && product.additionalImages.length > 1" class="image-indicator">
        <i class="bi bi-images"></i>
      </div>
    </div>
  </a>
  <div class="product-info">
    <p class="product-category">{{ product.category }}</p>
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-price">{{ product.price | currency:'INR' }}</p>
  </div>
  <div class="product-actions">
    <button class="btn btn-buy-now" (click)="addToCart()" [class.added]="isAdded" [disabled]="isAdded">
      <span *ngIf="!isAdded">Add to Cart</span>
      <span *ngIf="isAdded">
        <i class="bi bi-check-lg check-icon"></i> Added!
      </span>
    </button>
    <button class="btn btn-whatsapp" (click)="messageOnWhatsApp()">
      <i class="bi bi-whatsapp whatsapp-icon"></i> Message
    </button>
  </div>
</div>
